
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Roll20 Template Generator</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/rollSampleStyle.css">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/generateTemplateController.js"></script>
    <script src="js/template.js"></script>

  </head>

  <body ng-app="myApp">
      <h1>Roll20 Template Generator</h1>
      <div class="container-fluid" ng-controller="generateTemplateController">

        <!-- https://www.reddit.com/r/Roll20/comments/2zx7a1/dd_5e_roll_template/ -->

        <form class="form-horizontal col-sm-8" action="index.html" method="post">

           <div class="form-group">
             <label for="title-input"  class="col-sm-2 control-label">Title</label>
             <div class="col-sm-6">
               <div class="form-inline">
                 <input id="title-input" type="text" name="title" class="form-control col-sm-3" placeholder="Title" ng-model="templateInput.title">
                 <select class="form-control  col-sm-3" name="" ng-model="templateInput.type" >
                   <option label="Ability (teal)" value="ability" />
                   <option label="Weapon (green)" value="weapon" />
                   <option label="Spell (purple)" value="spell" />
                   <option label="Save (red)" value="save" />
                   <option label="Death Save (maroon)" value="deathsave" />
                   <option label="Default (grey)" value="default" />
                 </select>
               </div>
             </div>
           </div>

           <div class="form-group">
             <label for="subheader" class="col-sm-2 control-label">Sub-header</label>
             <div class="col-sm-3">
               <input id="subheader-input" type="text" name="subheader" class="form-control col-sm-3" placeholder="Sub-Header" ng-model="templateInput.subheader">
             </div>
           </div>

           <div class="form-group">
             <label for="subheader2" class="col-sm-2 control-label">Sub-header 2</label>
             <div class="col-sm-3">
               <input id="subheader2-input" type="text" name="subheader2" class="form-control col-sm-3" placeholder="Sub-Header 2" ng-model="templateInput.subheader2">
             </div>
           </div>

           <div class="form-group">
             <label for="emote" class="col-sm-2 control-label">Emote</label>
             <div class="col-sm-3">
               <input id="emote-input" type="text" name="emote" class="form-control col-sm-3" placeholder="Emote" ng-model="templateInput.emote">
             </div>
           </div>

           <div class="form-group" ng-repeat="item in templateInput.items">
             <label for="item" class="col-sm-2 control-label">{{'Custom Item ' + (item.id)}}</label>
             <div class="col-lg-10">
               <div class="form-inline">
                 <input type="text" name="item" class="form-control col-sm-3" placeholder="Text" ng-model="item.text">
                 <input type="text" name="item" class="form-control col-sm-3" placeholder="Value" ng-model="item.value">
                 <button type="button" name="button" class="btn btn-success" ng-click="templateInput.addCustomItem()">+</button>
             </div>
             </div>
           </div>

           <button type="button" name="button" class="btn btn-primary" ng-click="buildTemplate()">Generate</button>

        </form>

        <div class="row col-sm-3 alert alert-info" role="alert" ng-if="generatedTemplate !== ''">
          {{generatedTemplate}}
        </div>

        <div class="row col-sm-3">

          <div>
            <div class="sheet-rolltemplate-5eDefault">
              <div class="sheet-rt-card">
                <div class="sheet-rt-header sheet-relative sheet- " ng-class="'sheet-' + templateInput.type">
                  <div class="sheet-rt-title sheet-pad-l-xxl sheet-pad-r-xxl">{{templateInput.title || 'Title'}}</div>
                  <div class="sheet-tooltip-position-wrapper">
                  </div>

                    <div class="sheet-rt-subheader">{{templateInput.subheader || 'Subheader'}}</div>
                    <div class="sheet-rt-subheader2">{{templateInput.subheader2 || 'Subheader 2'}}</div>
                </div>
                <div class="sheet-main-content">
                  <div class="sheet-row">
                    <div class="sheet-rt-emote">{{templateInput.emote || 'Emote'}}</div>
                  </div>
                    <div class="sheet-row"  ng-repeat="item in templateInput.items">
                      <div class="sheet-col-32 sheet-rt-key">{{item.text}}</div>
                      <div class="sheet-col-68 sheet-rt-value">{{item.value}}</div>
                    </div>
                </div>
              </div>
            </div>

          </div>

        </div>


      </div>

  </body>


</html>
